*{box-sizing: border-box;}

.mySlides
{display: none;}

img{vertical-align: middle;}

/* Slideshow Container*/
.slideshow-container
{max-width: 100px;
position: relative;
margin: auto;}

.mySlides
{max-width: 100px;
position: relative;
margin: auto;}

/* Next & Prev Buttons*/
.prev, .next
{cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;}

.next {right: 0;
border-radius: 3px 0 0 3px;}
.prev {left: 0;
border-radius: 3px 0 0 3px;}

/* Buttons Hover */
.prev :hover, .next :hover
{background-color:rgba(0,0,0,0.8);}

/* Caption Text */
.text
{color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
}

/*Dot/indicators*/
.dot 
{cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;}

.active, .dot:hover
{background-color: #717171}

p
{color: whitesmoke;}

body
{background-color: #ddd;
margin:0;}

/*Icon Bar Navigation */
.icon-bar
{width: 100%;
background-color: #eee;
overflow:auto;
}

.icon-bar a
{float: left;
width: 20%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: black;
font-size: 36px;
}

.icon-bar a:hover
{background-color:yellowgreen;}

/*Header and Footer*/
.header
{text-align: center;
padding: 20px;
background-color: grey;
position: fixed;
}

.footer
{text-align: center;
padding: 10px;
background-color: grey;
position: static;}

